<!DOCTYPE html>
<html>
    <head>
        <title>{%  block title %} | PWBox{% endblock %}</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">
        {%  block styles %}{% endblock %}
        <script src="{{ base_url() }}/assets/js/lib/jquery-3.2.1.slim.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/popper.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/bootstrap.min.js"></script>
        {%  block scripts %}{% endblock %}
    </head>
    <body>
        {%  block header %}
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="{{ base_url() }}/">
                        <span class="name">PWBox</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% if session.user_id != null  %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ base_url() }}/"><span class="glyphicon glyphicon-file"></span> Archivos <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ base_url() }}/"><span class="glyphicon glyphicon-file"></span> Compartido <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ base_url() }}/" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        M치s
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ base_url() }}/"><span class="glyphicon glyphicon-file"></span> Con칩cenos <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ base_url() }}/"><span class="glyphicon glyphicon-file"></span> Contacto <span class="sr-only">(current)</span></a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- Right Side Of Navbar -->
                        <form class="form-inline my-2 my-lg-0">
                            {% if session.user_id != null  %}
                                <!-- Authentication Links -->
                                <div class="dropdown">
                                    <a class="btn btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username }}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{{ base_url() }}/profile">
                                            Mi perfil
                                        </a>
                                        <a class="dropdown-item" href="{{ base_url() }}/logout">
                                            Cerrar sesi칩n
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <a class="btn btn btn-outline-light" href="{{ base_url() }}/login" role="button" aria-haspopup="true" aria-expanded="false">
                                    Iniciar sesi칩n
                                </a>
                                <a class="btn btn btn-light right-button" href="{{ base_url() }}/register" role="button" aria-haspopup="true" aria-expanded="false">
                                    Registrarse
                                </a>
                            {% endif %}
                        </form>
                    </div>
                </nav>
            </header>
        {% endblock %}
        <!-- Begin page content -->
        <main role="main" class="">
            {%  block content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                {%  block footer %}
                    <span class="text-muted">PWBox</span>
                {% endblock %}
            </div>
        </footer>
    </body>
</html>