<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} - PWBox{% endblock %}</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/lib/animate.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">
        {% block styles %}{% endblock %}
        <script src="{{ base_url() }}/assets/js/lib/jquery-3.2.1.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/popper.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/bootstrap.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/jquery.waypoints.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/circle-progress.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/progressbar.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/fontawesome-all.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/wow.min.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/sweetalert.min.js"></script>
        <script src="{{ base_url() }}/assets/js/notifications.js"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="content">
            {% block header %}
                <header>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <a class="navbar-brand" href="{{ base_url() }}/">
                            <span class="name">PWBox</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                {% if session.user_id != null  %}
                                    <li class="nav-item{% block nav_item_dashboard %}{% endblock %}">
                                        <a class="nav-link" href="{{ base_url() }}/dashboard"><span class="glyphicon glyphicon-file"></span>Mi unidad</a>
                                    </li>
                                    <li class="nav-item{% block nav_item_shared %}{% endblock %}">
                                        <a class="nav-link" href="{{ base_url() }}/shared"><span class="glyphicon glyphicon-file"></span>Compartido conmigo</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#info"><span class="glyphicon glyphicon-file"></span> Conócenos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#opiniones"><span class="glyphicon glyphicon-file"></span> Contacto</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contacto"><span class="glyphicon glyphicon-file"></span> Contacto</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <!-- Right Side Of Navbar -->
                            <form class="form-inline my-2 my-lg-0">
                                {% if session.user_id != null  %}
                                    <a tabindex="0"
                                       class="btn btn-light btn-notifications"
                                       role="button"
                                       data-html="true"
                                       data-toggle="popover"
                                       data-trigger="focus"
                                       data-placement="bottom"
                                       title="Notificaciones"
                                       data-content='
                                        {% for notification in lastNotifications %}
                                            <div><b>
                                            {% if notification.type == "folder_sended" %}
                                                <i class="fa fa-folder"></i>&nbsp&nbsp Carpeta compartida
                                            {% elseif notification.type == "upload_renamed" %}
                                                <i class="fa fa-edit"></i>&nbsp&nbsp Ítem renombrado
                                            {% elseif notification.type == "upload_deleted" %}
                                                <i class="fa fa-trash"></i>&nbsp&nbsp Ítem eliminado
                                            {% elseif notification.type == "new_upload" %}
                                                <i class="fa fa-cloud"></i>&nbsp&nbsp Nuevo ítem
                                            {% elseif notification.type == "new_uploads" %}
                                                <i class="fa fa-cloud"></i>&nbsp&nbsp Nuevos ítems
                                            {% elseif notification.type == "folder_received" %}
                                                <i class="fa fa-folder"></i>&nbsp&nbsp Carpeta recibida
                                            {% endif %}
                                               </b><br>{{ notification.message }}<br><small class"text-right">{{ notification.created_at }}</small></div>
                                           <hr>
                                        {% endfor %}
                                        {% if lastNotifications|length < 1 %}
                                            <div>
                                                <i>Vaya, aún no tienes notificaciones...</i>
                                            </div>
                                        {% else %}
                                            <div class="text-center"><a href="{{ base_url() }}/notifications">Ver todo</a></div>
                                        {% endif %}
                                       '>
                                        <i class="fa fa-bell"></i>
                                    </a>
                                    <!-- Authentication Links -->
                                    <div class="dropdown">
                                        <a class="btn btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src={{ base_url() ~ '/uploads/' ~ user.uuid ~ '/profile_image.' ~ user.extension}} id="profileimage">
                                            {{ user.username }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
                                            <p class="text-center root-folder-size">{{ rootFolderSize }} MB disponibles de un total de 1000 MB</p>
                                            <a class="dropdown-item" href="{{ base_url() }}/profile">
                                                Mi perfil
                                            </a>
                                            <a class="dropdown-item" href="{{ base_url() }}/logout">
                                                Cerrar sesión
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="btn btn btn-outline-light" href="{{ base_url() }}/login" role="button" aria-haspopup="true" aria-expanded="false">
                                        Iniciar sesión
                                    </a>
                                    <a class="btn btn btn-light right-button" href="{{ base_url() }}/register" role="button" aria-haspopup="true" aria-expanded="false">
                                        Registrarse
                                    </a>
                                {% endif %}
                            </form>
                        </div>
                    </nav>
                </header>
            {% endblock %}
            <!-- Begin page content -->
            <main role="main" class="body">
                {% block content %}{% endblock %}
            </main>
            <footer class="footer">
                {% block footer %}
                    <div class="footer-black">
                        <div class="row" style="margin-right: 0">
                            <div class="col-md-9">
                                <span class="text-muted">PWBox, S.A.</span>
                            </div>
                            <div class="col-md-3 blue text-right">
                                    <span class="social-icons">
                                        <i class="fab fa-facebook"></i>
                                        <i class="fab fa-twitter-square"></i>
                                        <i class="fab fa-instagram"></i>

                                    </span>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </footer>
        </div>
    </body>
</html>