{% extends "base.html.twig" %}
{% block title %}
    Dashboard
{% endblock %}
{% block styles %}
    {{ parent() }}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/dashboard.js"></script>
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">

        {% for message in flash('dashboard') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>{{ error }}</p>
            </div>
        {% endif %}

        {% if errors is empty and isPost %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>¡Hurra!</strong> Todos los archivos han sido cargados exitosamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}

        <h1 class="mt-5">Hola, {{ user.username }}</h1>
        <p class="lead">Esto es tu dashboard.</p>
        <p>Empieza subiendo archivos.</p>
        <ol class="breadcrumb" dir="ltr">
            <li><a href="#"><i class="fa fa-home fa-lg fa-fw"></i> </a></li>
        </ol>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newFolderModal">
            Nueva carpeta
        </button>

        <!-- Modal -->
        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newFolderModalLabel">Nueva carpeta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/folder" method="post" id="newFolderForm">
                            <div class="form-group">
                                <label for="folder-name" class="col-form-label">Nombre de la carpeta:</label>
                                <input type="text" class="form-control" id="folder-name" name="name">
                                {% if uuid_parent is null %}
                                    <input type="hidden" name="uuid_parent" value="">
                                {% else %}
                                    <input type="hidden" name="uuid_parent" value="{{ uuid_parent }}">
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="submitNewFolder">Crear la carpeta</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">
            Subir archivo
        </button>

        <!-- Modal -->
        <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadFileModalLabel">Subir archivo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/file" enctype="multipart/form-data" method="POST" id="uploadFileForm">
                            <input type="file" name="files[]" multiple="multiple">
                            {% if uuid_parent is null %}
                                <input type="hidden" name="uuid_parent" value="">
                            {% else %}
                                <input type="hidden" name="uuid_parent" value="{{ uuid_parent }}">
                            {% endif %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="submitUploadFile">Subir archivo</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="bs-table" class="table table-hover">
                <thead>
                <tr>
                    <th class="text-left" data-sort="string">Name</th>
                    <th class="text-right" data-sort="int">Size</th>
                    <th class="text-right" data-sort="int">Modified</th>
                </tr>
                </thead>
                <tbody>
                    {% set foldersCount = 0 %}
                    {% set filesCount = 0 %}
                    {% for upload in uploads %}
                        <tr>
                            <td class="text-left" data-sort-value="checksum">
                                {% if upload.ext == "pdf" %}
                                    <i class="fa fa-file-alt"></i>
                                {% elseif (upload.ext == "jpg") or (upload.ext == "png") or (upload.ext == "gif") %}
                                    <i class="fa fa-image"></i>
                                {% elseif upload.ext == "md" %}
                                    <i class="fa fa-align-left"></i>
                                {% elseif upload.ext == "txt" %}
                                    <i class="fa fa-text"></i>
                                {% else %}
                                    <i class="fa fa-folder"></i>
                                {% endif %}
                                {% if upload.ext is null %}
                                    <a href="/dashboard/{{ upload.uuid }}"><strong>{{ upload.name }}</strong></a>
                                    {% set foldersCount = foldersCount+1 %}
                                {% else %}
                                    <a href="/dashboard/{{ upload.uuid }}"><strong>{{ upload.name }}.{{ upload.ext }}</strong></a>
                                    {% set filesCount = filesCount+1 %}
                                {% endif %}
                            </td>
                            <td class="text-right" data-sort-value="0"></td>
                            <td class="text-right" data-sort-value="1460763836" title="2016-04-15 23:43:56">{{ upload.updated_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <small class="pull-left text-muted" dir="ltr">{{ foldersCount }} folders and {{ filesCount }} files, ??? MB in total</small>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}