{% extends "base.html.twig" %}
{% block title %}Hello page{% endblock %}
{% block styles %}
    {{ parent() }}
    <!--<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/example.css">-->
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <!--<script src="example.js"></script>-->
{% endblock %}
{% block header %}
    {#{{ parent() }}#}
    exemple

{% endblock %}
{% block content %}
    {{ parent() }}
    exemple
    Counter: {{ counter }}

    {% if not advice %}
        <h3>Cookies message</h3>
    {% endif %}


{% endblock %}
{% block footer %}
    {{ parent() }}
    exemple
{% endblock %}