{% extends "base.html.twig" %}
{% block title %}
    Landing{{ parent() }}
{% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/example.css">
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="example.js"></script>
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1 class="mt-5">¡Bienvenido a Pwbox!</h1>
    <p class="lead">Empieza creando tu cuenta.</p>
    <p>¡Te encantará!</p>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}