{% extends "base.html.twig" %}
{% import "macros/userForm.html.twig" as form %}
{% block title %}
    Register{{ parent() }}
{% endblock %}
{% block styles %}
    {{ parent() }}
    <!--<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/example.css">-->
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/validate.js"></script>
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        {{ form.userForm() }}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>{{ error }}</p>
                <hr>
                <p class="mb-0">You can...</p>
            </div>
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success</h4>
                <p>{{ message }}</p>
                <hr>
                <p class="mb-0">You can...</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}